@import url(https://fonts.googleapis.com/css?family=Tienne:900|Fira+Sans:300);

#header {
    color:#CC3332;
    text-align:center;
    padding:3px;
}

#wrap { 
	width: 900px; 
	margin: 0 auto; 
}
#nav {
font-family: "Fira Sans", Helvetica, sans-serif;
font-size: 100%;
text-align:center;
}

#nav li {
display:inline;
}

#nav a {
padding:10px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


figcaption{
	font-family: "Fira Sans", Helvetica, sans-serif;
	text-align:center;
	color:#CC3332;
	font-size: 225%;
}

h1 {
	font-family: "Tienne", Times New Roman, serif;
	font-size: 400%;
}

h3 {
	font-family: "Fira Sans", Helvetica, sans-serif;
	font-size: 125%;
}

body {
	padding:5px;
	margin:15px;
}

p {
	font-family: "Fira Sans", Helvetica, sans-serif;
	font-size: 175%;
}

p.one{
	font-family: "Fira Sans", Helvetica, sans-serif;
	text-align:center;
	color:#CC3332;
	font-size: 175%;
}

p.two{
	font-family: "Fira Sans", Helvetica, sans-serif;
	text-align:center;
	color:#CC3332;
	font-size: 225%;
}

p.three {
	font-family: "Fira Sans", Helvetica, sans-serif;
	text-align:center;
	font-size: 175%;
}